# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.JsonToJsonMapped.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Repos\Pessoal\JsonToJsonMapped\.idea\.idea.JsonToJsonMapped\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
